{% assign lang = site.data.text[page.lang] %}
<div class="section">
  <img src="/images/portfolio-4---wide.svg" alt="" class="detail-header-image">
</div>
<div class="section">
  <div class="container">

    <div class="w-layout-grid contact-page-grid">
      <div id="w-node-f2c6de040bbf-8c72c1f1">
        <h1 class="heading-jumbo">{{ lang.contact-page-h }}</h1>
        <div class="heading-jumbo-tiny">{{ lang.contact-page-sub }}</div>
      </div>
      <div id="w-node-f2c6de040bc9-8c72c1f1">
        <h4 class="heading-jumbo-tiny">{{ lang.did-you-know-name }}</h4>
        <div>{{ lang.did-you-know }}</div>
      </div>
      <div id="w-node-d58e8c0fcbfb-8c72c1f1">
        <h4>{{ lang.address-name }}</h4>
        <p class="paragraph-capital">{{ lang.address }}</p>
      </div>
      <div id="w-node-aa6fead0c2dd-8c72c1f1">
        <h4>{{ lang.opening-hours-name}}</h4>
        <p class="paragraph-capital">{{ lang.opening-hours }}</p>
      </div>
      <div id="w-node-581b59dee944-8c72c1f1">
        <h4>{{ lang.contact }}</h4>
        <p class="paragraph-capital">Email: <strong>contact@aevum-sa.com</strong><br>{% if page.lang == 'en' %}Landline{% else %}Σταθερό{% endif %}: {{ lang.phone-number }}</p>
      </div>

      <a id="w-node-d443e135d378-8c72c1f1" href="/{{ page.lang }}/faq" class="button ghost w-button">{{ lang.faq-title }}</a></div>
  
  </div>
</div>

<div class="w-embed">{% include cta-map.html %}</div>