  <div class="section section--hero grading-cta">
    <div class="container--cta">
      <div class="cta-div"><img src="/images/certified-by-HRD.png" loading="lazy" alt="" class="certified-by-hrd">
        <p class="paragraph--cta">{{ site.data.cta.[page.lang].text }}</p>
        <a href="{{ site.data.cta.[page.lang].button-1.url }}" class="button button--filled w-button">{{ site.data.cta.[page.lang].button-1.name }}</a>
        <a href="/{{ page.lang }}/{{ site.data.cta.[page.lang].button-2.url }}" class="button w-button">{{ site.data.cta.[page.lang].button-2.name }}</a>
      </div>
    </div>
  </div>
