{% assign lang = site.data.faq.[page.lang] %}
<div id="faq" class="section">
  <div class="container faq" style="max-width: 750px;">
    
    <h1 style="padding-bottom: 60px;">{{ lang.faq-title }}</h1>

    {% for faq in site.data.faq.[page.lang].faqs %}

    <!-- <a href="#" data-ix="show-answer" data-w-id="d5fe8be0-3645-76f9-35ca-af8f4b0a2663" class="faq-item w-inline-block"> -->
      <div class="question" style="text-align: left;">
        <h4 class="faq-question">{{ faq.question }}</h4>
        <img src="https://uploads-ssl.webflow.com/5c46484dbf50e75f14bacd72/5c46484dbf50e704eebacecc_Arrow-Down-%231-Icon.svg" alt="" class="question-arrow-icon">
      </div>
      <div class="faq-answer" style="text-align: left; padding-bottom: 10px;">
        <p class="answer-text">{{ faq.answer }}</p>
      </div>
    <!-- </a> -->

    {% endfor %}

  </div>
</div>