  <div class="section footer">
    <div class="container">
      <div class="w-layout-grid footer-grid">
        <div class="footer-column">
          <div class="footer-title">{{ site.company-name[page.lang] }}</div>
          
          <a href="tel:+302103227148" class="link-w-icon w-inline-block"><img src="/images/Phone.svg" loading="lazy" alt="" class="link-icon link-icon--left">
            <div class="footer-link">{{ site.phone }}</div>
          </a>

          <a href="https://www.google.com/maps/dir//Lekka+23-25,+Athina+105+62/@37.9771511,23.7293994,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x14a1bd3c6e6039f1:0x70e2572b5cabddae!2m2!1d23.7315881!2d37.9771469" target="_blank" class="link-w-icon w-inline-block"><img src="/images/Map-Pin.svg" loading="lazy" alt="" class="link-icon link-icon--left">
            <div class="footer-link">{{ site.address[page.lang] }}</div>
          </a>

          <div class="link-w-icon"><img src="/images/Clock.svg" loading="lazy" alt="" class="link-icon link-icon--left">
            <div class="footer-link no-hover">
              {{ site.opening-hours[page.lang] }}
            </div>
          </div>


        </div>
        <div class="footer-column">
          <div class="footer-half-column">

            <div class="footer-title">{{ site.data.footer[page.lang].col-2-1-title }}</div>

            {% for link in site.data.footer[page.lang].col-2-1-links %}
            <a href="{{ link.url }}" class="footer-link">{{ link.name }}</a>
            {% endfor %}

          </div>
          <div>
            <div class="footer-title">{{ site.data.footer[page.lang].col-2-2-title }}</div>

            {% for link in site.data.footer[page.lang].col-2-2-links %}
            <a href="{{ link.url }}" class="link-w-icon w-inline-block"><img src="/{{ link.image }}" loading="lazy" alt="" class="link-icon link-icon--left">
              <div class="footer-link">{{ link.name }}</div>
            </a>
            {% endfor %}

          </div>
        </div>
        <div class="footer-column">
          <div class="footer-title">{{ site.data.footer[page.lang].col-3-title }}</div>

          {% for link in site.data.footer[page.lang].col-3-links %}
          <a href="/{{ link.url }}" class="footer-link">{{ link.name }}</a>
          {% endfor %}

        </div>
        <div class="footer-column">
          <div class="footer-title">{{ site.data.footer[page.lang].newsletter.title }}</div>
          <div class="label">{{ site.data.footer[page.lang].newsletter.label }}</div>
          <div class="newsletter-form-block w-form">
            <form class="form" data-name="Newsletter Footer" id="Newsletter-Footer" name="Newsletter-Footer" netlify>
              <input class="text-field w-input" data-name="Newsletter" id="Newsletter" maxlength="256" name="Newsletter" placeholder="{{ site.data.footer[page.lang].newsletter.placeholder }}" required="" type="email"><input class="submit-button w-button" data-netlify="true" data-wait="↻" type="submit" value="&gt;">
            </form>
            
            <div class="success-message w-form-done">
              <div>{{ site.data.footer[page.lang].newsletter.success-message }}</div>
            </div>
            <div class="w-form-fail">
              <div> 
                {{ site.data.footer[page.lang].newsletter.error-message }}
              </div>
            </div>
          </div>
          <p class="paragraph--detail">
          {{ site.data.footer[page.lang].newsletter.disclaimer }}
          </p>
        </div>
      </div>
      <div class="footer-bottom line-blank">
        <div class="footer-wrapper">
          <div><img src="/images/visa.png" loading="lazy" alt="" class="payment-method-image"><img src="/images/mastercard.png" loading="lazy" alt="" class="payment-method-image"><img src="/images/paypal.png" loading="lazy" alt="" class="payment-method-image"></div>
        </div>
        <div class="footer-wrapper">
          <div>
            <a href="https://annafilou.com/" target="_blank" class="attribution-link w-inline-block"><img src="/images/AN-logo.svg" width="15" alt="" class="webflow-logo-tiny">
              <div class="paragraph--detail">designed &amp; Built by <strong>anna</strong></div>
            </a>
            <a href="https://www.ecwid.com/eu-privacy-policy" target="_blank" class="attribution-link w-inline-block"><img src="/images/Ecwid_logo_minimal.svg" width="15" alt="" class="webflow-logo-tiny">
              <div class="paragraph--detail">Ecwid<strong> Secure E-Commerce</strong></div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>