{% assign lang = site.data.text[page.lang] %}
  <div class="section">
    <div class="container">
      <div class="w-layout-grid about-intro-grid">
        <div id="w-node-7dee623c62c1-9a9be9e1" class="about-head-text-wrap"><img src="/images/certified-by-HRD.png" width="200" srcset="/images/certified-by-HRD-p-500.png 500w, /images/certified-by-HRD-p-800.png 800w, /images/certified-by-HRD.png 838w" sizes="(max-width: 479px) 88vw, 280px" alt="" class="hrd-certified-logo">
          <h2>{{ site.data.text[page.lang].hrd-title }}</h2>
          <p>
          {{ site.data.text[page.lang].hrd-intro }}
          </p>
        </div><img src="/images/diamond-grader-working-on-desk.jpg" width="618" id="w-node-7dee623c62c8-9a9be9e1" alt="" class="full-heigh-image"></div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="w-layout-grid contact-grid">
        <div>
          <h4>Contact</h4>
          <p class="paragraph-capital">Email: <strong>contact@aevum-sa.com</strong><br>{% if page.lang == &#x27;en&#x27; %}Landline{% else %}Σταθερο{% endif %}: {{ lang.phone-number }}</p>
        </div>
        <div id="w-node-c95abd3c4dcc-9a9be9e1">
          <h4>Address</h4>
          <p class="paragraph-capital">{{ lang.address }}</p>
        </div>
        <div id="w-node-c95abd3c4dd5-9a9be9e1">
          <h4>Opening Hours</h4>
          <p class="paragraph-capital">{{ lang.opening-hours }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="w-layout-grid skills-grid">
        <div id="w-node-4224828ffd8a-9a9be9e1" class="skillset-wrap">
          <div class="label">Diamond Grading</div>
          <h2>The Process</h2><img src="/images/diamond-grader-with-ring.jpg" width="547" alt="" class="full-heigh-image"></div>
        <div id="w-node-4224828ffd8f-9a9be9e1" class="w-layout-grid services-items-grid">
          <div id="w-node-4224828ffd90-9a9be9e1">
            <div class="service-name-text">Step 1</div>
            <p class="paragraph-light">{{ site.data.text[page.lang].hrd-process.step-1 }}</p>
            <div class="service-name-text">Step 2</div>
            <p class="paragraph-light">{{ site.data.text[page.lang].hrd-process.step-2 }}</p>
          </div>
          <div id="w-node-4224828ffd99-9a9be9e1">
            <div class="service-name-text">Step 3</div>
            <p class="paragraph-light">{{ site.data.text[page.lang].hrd-process.step-3 }}</p>
            <div class="service-name-text">Step 4</div>
            <p class="paragraph-light">{{ site.data.text[page.lang].hrd-process.step-4 }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container"></div>
  </div>
  <div class="w-embed">{% include cta-map.html %}</div>

  