{% assign lang = site.data.text[page.lang] %}

<div class="section", style="background-color: #EDE1DA; padding: 30px 0px 10px;">
  <div class="container">
    <div class="intro-wrap">
      <div class="w-layout-grid hero-grid">
        <div class="hero-block jewelry-bg">
          <div class="subtitle-top">{{ lang.jewelry-sub }}</div>
          <h2>{{ lang.jewelry }}</h2>
          <p class="hero-subtitle">{{ lang.jewelry-desc }}</p><a href="/{{ page.lang }}/store" class="button w-button">{{ lang.shop-online }}</a></div>
        <div class="hero-block metals-bg">
          <div class="subtitle-top">{{ lang.precious }}</div>
          <h2>{{ lang.metals }}</h2>
          <p class="hero-subtitle">{{ lang.metals-desc }}</p><a href="/{{ page.lang }}/metals" class="button white w-button">{{ lang.learn-more }}</a></div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="services-grid">
    <div class="deco-left" id="w-node-c3dcbd6c27f5-1e4ec742"></div><a class="service-block w-inline-block" href="#"><img alt="" class="service-img" src="/images/diamond-tweezer-remove-bg.png">
    <div class="label">
      HRD&nbsp;Antwerp Diamond Grading &amp;&nbsp;Certification
    </div>
    <div class="service-title">
      Do you want to know how much your diamond is really worth?
    </div></a><a class="service-block w-inline-block" href="#"><img alt="" class="service-img" src="/images/round_diamond-removebg-preview.png">
    <div class="label">
      Wholesale Portal
    </div>
    <div class="service-title">
      Learn how to buy at special prices just for wholesalers.
    </div></a><a class="service-block w-inline-block" href="#"><img alt="" class="service-img" src="/images/ring-remove-bg-low.png">
    <div class="label">
      Online Catalog
    </div>
    <div class="service-title">
      Buy diamonds, precious stones and jewelry comfortably online.
    </div></a><a class="service-block w-inline-block" href="#"><img alt="" class="service-img" src="/images/gold-remove-bg.png">
    <div class="label">
      Precious Metals
    </div>
    <div class="service-title">
      Visit us to buy gold and silver and learn about your options.
    </div></a>
  </div>
</div>

<div class="w-embed">{% include cta-map.html %}</div>