<div data-collapse="medium" data-animation="default" data-duration="400" role="banner" class="navigation w-nav">
    <div class="hidden w-embed w-script">
      <!--  Ecwid Search Bar START  -->
      <div id="my-search-32424241"></div>
      <div>
        <script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?32424241&data_platform=code&data_date=2020-07-03" charset="utf-8"></script>
        <script type="text/javascript"> xSearch("id=my-search-32424241"); </script>
      </div>
      <!--  Ecwid Search Bar END  -->
    </div>
    <div class="navigation-items"><a href="/index.html" class="logo-link w-nav-brand"><img src="/images/aevum-logo-horizontal-simple.svg" alt="" class="logo-image"></a>
      <div class="navigation-wrap">
        <nav role="navigation" class="navigation-items w-nav-menu">
          {% for nav-item in site.data.text.[page.lang].nav-items %}
          <a href="/{{ page.lang }}/{{ nav-item.url }}" class="navigation-item w-nav-link">{{ nav-item.name }}</a>
          {% endfor %}
          <div data-hover="1" data-delay="0" class="language-dropdown w-dropdown">
            <div class="language-toggle w-dropdown-toggle">
              <div class="w-icon-dropdown-toggle"></div>
              <div class="navigation-item no-margins">Language</div>
            </div>
            <nav class="language-list w-dropdown-list">
              <a href="/en/{{ page.ref }}" class="language-link w-inline-block">
                <div class="flag-1"></div>
                <div>English</div>
                <div class="langauge-line-base">
                  <div class="langauge-line-break"></div>
                </div>
              </a>
              <a href="/gr/{{ page.ref }}" class="language-link w-inline-block">
                <div class="flag-2"></div>
                <div>Ελληνικά</div>
                <div class="langauge-line-base">
                  <div class="langauge-line-break"></div>
                </div>
              </a>
            </nav>
          </div>
        </nav><a href="#!/~/search" class="nav-icon w-inline-block"><img src="/images/Search.svg" width="30" alt="" class="navigation-image"></a>
        <div class="cart-icon w-embed w-script">
          <!--  Ecwid Bag START  -->
          <div class="ec-cart-widget"></div>
          <div>
            <script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?32424241&data_platform=code&data_date=2020-07-01" charset="utf-8"></script>
            <script type="text/javascript">Ecwid.init();</script>
          </div>
          <!--  Ecwid Bag END  -->
        </div>
        <div class="menu-button w-nav-button"><img src="/images/menu-icon_1menu-icon.png" width="22" alt="" class="menu-icon"></div>
      </div>
    </div>
  </div>