  <div class="preloader">
    <img src="/images/Aevum-Logo-GOLD.svg" alt="AEVUM" class="brand brand-small">
    <div class="preloader-animation" data-animation-type="lottie" data-src="/documents/29521-loading.json" data-loop="1" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg" data-default-duration="2.125" data-duration="0"></div>
    
    {% for message in site.data.preloader.[page.lang].loading-messages %}
	  	<div class="loading">{{message.name}}</div>
    {% endfor %}
  </div>