  <div class="section section--top">
    <div class="container">
      <div class="w-layout-grid half-half-grid-top">
        <div id="w-node-60cd91cd3a5b-94927103" class="text-wrap">
          <h1>{{site.data.grading[page.lang].page-title}}</h1><img src="/images/certified-by-HRD_1.png" width="212" sizes="(max-width: 479px) 83vw, 212px" srcset="/images/certified-by-HRD_1-p-500.png 500w, /images/certified-by-HRD_1-p-800.png 800w, /images/certified-by-HRD_1.png 838w" alt="" class="hrd-certified-logo">
          <p>{{ site.data.grading[page.lang].intro }}<br></p>
          <div class="spacer-40"></div>
          <p class="paragraph--small">{{ site.data.grading.[page.lang].intro-note}}<br></p>
        </div><img src="{{ site.data.grading.image-1 }}" width="618" id="w-node-60cd91cd3a6e-94927103" alt="" class="image-w-shadow">
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="w-layout-grid steps-grid">
        <div id="w-node-c366efc1ac9e-94927103" class="skillset-wrap"><img src="{{ site.data.grading.image-2 }}" width="443" alt="" class="image-w-shadow"></div>
        <div id="w-node-c366efc1aca4-94927103" class="w-layout-grid services-items-grid">
          <h2 id="w-node-aa56b3b634de-94927103">{{ site.data.grading.[page.lang].process.title }}</h2>
          <div id="w-node-c366efc1aca5-94927103">
            <h3>Step 1</h3>
            <p>{{ site.data.grading.[page.lang].process.step-1 }}</p>
          </div>
          <div id="w-node-9a10a0f10011-94927103">
            <h3>Step 4</h3>
            <p>{{ site.data.grading.[page.lang].process.step-4 }}</p>
          </div>
          <div id="w-node-c366efc1acae-94927103">
            <h3>Step 2</h3>
            <p>{{ site.data.grading.[page.lang].process.step-2 }}</p>
          </div>
          <div id="w-node-2f61ddde62a1-94927103">
            <h3>Step 3</h3>
            <p>{{ site.data.grading.[page.lang].process.step-3 }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>