{% assign lang = site.data.home.[page.lang] %}

  <div class="section section--full-width image-bg hero">
    <div class="container hero-right">
      <div class="hero-text-container">
        <h1 class="heading--display">{{ page.title }}</h1>

        {% for button in site.data.home.[page.lang].hero-buttons %}
        <a href="{{ button.url }}" class="{{ button.class }}">{{ button.name }}</a>
        {% endfor %}

      </div>
    </div>
  </div>


<!-- WHOLESALE Start -->
<div class="section">
    <div class="container">
      <div class="image-bg image-bg--wholesale">
        <h2 class="heading--wholesale">Wholesale</h2>

          <div class="flex-wrapper flex-wrapper--justify-center wholesale-buttons">

            {% for button in site.data.home[page.lang].wholesale.buttons %}
              <a href="/wholesale/{{ button.url }}" class="button button--padding w-button">{{ button.name }}</a>
            {% endfor %}

          </div>
      </div>
    </div>
</div>
<!-- WHOLESALE End -->

  <div class="section"></div>

{% include cta-grading.html %}
{% include store-categories.html %}
