  <div class="section section--top">
    <div class="container">
      <div class="header-image-container"><img src="{{ page.image }}" loading="lazy" alt="" class="cover-image"></div>
      <!-- https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg -->
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="wholesale-text-container">
        <h1>{{ page.title }}</h1>
        <p>{{ site.data.[page.ref].[page.lang].text-main }}</p>
      </div>
    </div>
  </div>
  
  {% if data.page.title].text-2 %}
  <div class="section">
    <div class="wholesale-text-container">
      <p>{{ data.[page.title].text-2}}</p>
    </div>
  </div>
  {% endif %}
  